{% extends 'app/base.html' %}
{% load static %}


{% block titulo %}
    Clientes
{% endblock titulo %}
    
{% block cabecera %}
    Listado de clientes
{% endblock cabecera %}
    

{% block contenido %}

<form action="/app/buscar4" method="get">
    {% csrf_token %}
    <input type="text" name="apellido" id="apellido">
    <input type="submit" value="Buscar">
</form>

<table class="table">
    <thead>
        <tr>
            <th>ID</th>
            <th>Nombre</th>
            <th>Apellido</th>
            <th>Email</th>
            <th>Telefono</th>
        </tr>
    </thead>
    <tbody>
  
    {% for curso in db %}
    <tr>
        <td>{{ curso.id }}</td>
        <td>{{ curso.nombre }}</td>
        <td>{{ curso.apellido }}</td>
        <td>{{ curso.email }}</td>
        <td>{{ curso.telefono }}</td>
    </tr>
    {% endfor %}


 </tbody>
</table>

<a class="btn btn-primary" style="background-color:#bd6e00; border:#bd6e00" href="{% url 'form_cliente' %}">Cargar nuevo cliente</a>


{% endblock contenido %}

