{% extends 'app/base.html' %}
{% load static %}


{% block titulo %}
    Rubias
{% endblock titulo %}
    
{% block cabecera %}
    Listado de cervezas Rubias
{% endblock cabecera %}
    

{% block contenido %}
<form action="/app/buscar3" method="get">
    {% csrf_token %}
    <input type="text" name="precio" id="precio">
    <input type="submit" value="Buscar">
</form>
<table class="table">
    <thead>
        <tr>
            <th>ID</th>
            <th>Nombre</th>
            <th>Precio</th>
        </tr>
    </thead>
    <tbody>

    {% for curso2 in db %}
    <tr>
        <td>{{ curso2.id }}</td>
        <td>{{ curso2.nombre }}</td>
        <td>{{ curso2.precio }}</td>
    </tr>
    {% endfor %}


 </tbody>
</table>

{% endblock contenido %}